<style>
.fa-github{
   color:#6c6c74;
}
</style>
<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                   
                                    <h4 class="subheading">Object Detection</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A real time object detection model using SSD architecture.

The network is composed of a base VGG network followed by the added multibox conv layers.</p>
<center><p><a href="https://github.com/Nivritti-bitmesra/object-detection"><i class="fa fa-github fa-3x" aria-hidden="true" ></i></a></p></center>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                   
                                    <h4 class="subheading">Movie Review Prediction</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Predicting whether the review is positive or negative , comparing performance of various models and creating word embeddings using word2vec model.</p>
<center><p><a href="https://github.com/Nivritti-bitmesra/movie-review-prediction"><i class="fa fa-github fa-3x" aria-hidden="true" ></i></a></p></center>
                                
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">Digit Recognition CNN</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A convolutional neural network approach for handwritten digit recognition</p>
<center><p><a href="https://github.com/Nivritti-bitmesra/handwritten-digit-recognition"><i class="fa fa-github fa-3x" aria-hidden="true" ></i></a></p></center>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">Fuzzy Logic Rpm Controller</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A controller designed to take room temperature as input and gives the fan speed as output.
Fuzzy Inference System (FIS) is the process of formulating the mapping from a given input to an output using fuzzy logic. Fuzzy inference systems have been successfully applied in fields such as automatic control, data classification, decision analysis, expert systems, and computer vision. There are two types of fuzzy inference systems that can be implemented Mamdani-type and Sugeno-type. In this project the Mamdani type FIS is used that requires finding the centroid of a two-dimensional shape by integrating across a continuously varying function.</p>
<center><p><a href="https://github.com/Nivritti-bitmesra/Fuzzy-Logic-Rpm-Controller
"><i class="fa fa-github fa-3x" aria-hidden="true" ></i></a></p></center>
                                </div>
                            </div>
                        </li>
                        <li >
                            <div class="timeline-image">
                             <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">   
                            </div>
<div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">Neural Network Car</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">An Autonomous car based on a Neural Network. It learns from its past experience and takes a decision depending upon the present situation. Image processing was used to extract the features of the road. The Binary image thus obtained was reduced to a certain small size using several optimization algorithms and fed into a Neural network. The Network had 4 nodes in the output layer namely Left, Right, forward and backward. This directed the Bot to traverse the path easily.</p>
<center><p><a href="https://github.com/Nivritti-bitmesra/Neural-Network-Car"><i class="fa fa-github fa-3x" aria-hidden="true" ></i></a></p></center>
                                </div>
                            </div>

                        </li>
<li class="timeline-inverted">
                            <div class="timeline-image">
                             <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">   
                            </div>
<div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">Particle Swarm Optimization</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This program uses Particle swarm Optimization to find the Global Minima of a function.</p>
<center><p><a href="https://github.com/Nivritti-bitmesra/Particle-Swarm-Optimization"><i class="fa fa-github fa-3x" aria-hidden="true" ></i></a></p></center>
                                </div>
                            </div>

                        </li>
<li >
<div class="timeline-image">
                             <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">   
                            </div>
<div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">Money Value Prediction</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Predicting the exchange rate of US Dollar.

This is a project just to illustrate the power of Functional Link Artificail Neural Network (FLANN) in predicting thw Exchange rate of US Dollar. The expansion functions used are :-
x, sin(pix),sin(2pix), cos(pix) and cos(2pix).</p>
<center><p><a href="https://github.com/Nivritti-bitmesra/Money-Value-Prediction"><i class="fa fa-github fa-3x" aria-hidden="true" ></i></a></p></center>
                                </div>
                            </div>

                        </li>
<li class="timeline-inverted">
<div class="timeline-image">
                             <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">   
                            </div>
<div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">Image Captioning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Image Captioning Model based on Show and Tell model using VGG16 FC7 features (Transferred Learning)</p>
<center><p><a href="https://github.com/Nivritti-bitmesra/image-captioning"><i class="fa fa-github fa-3x" aria-hidden="true" ></i></a></p></center>
                                </div>
                            </div>

              <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">Emojify</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A python based emoji detector(using CNN) which then replaces your face with the correct over webcam.
</p>
<center><p><a href="https://github.com/Nivritti-bitmesra/emojify"><i class="fa fa-github fa-3x" aria-hidden="true" ></i></a></p></center>
                                </div>
                            </div>
                        </li>
          <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">Indian-Music-Genre-Recognition</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This project is a take at the music genre recognition using machine learning, aimed at Indian music genres. The dataset used for the project was collected from various sources, and made into 30s .wav clips for training. They were converted into feature vectors uisng Fast Fourier Transform (FFT) method. Finally the model was trained using ANN, so that it could differentiate between various genres like Bolly Pop, Sufi, Ghazal, Carnatic and Hindustani Classical. 
</p>
<center><p><a href="https://github.com/Nivritti-bitmesra/Indian-Music-Genre-Recognition"><i class="fa fa-github fa-3x" aria-hidden="true" ></i></a></p></center>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
