<head>
<meta name="viewport" content ="width=device-width initial-scale=1 user-scalable=yes" />
<style>
.banner {
   color:white
}
</style>


</head>
<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
                         <div class="  col-xs-12 col-md-4 animated wow bounceInLeft ">
		
					<h2>Keep in Touch:
                            <h3> <strong>Srivatsa Sinha</strong></h3>
        
         <p><i class="fa fa-envelope fa-x"></i>srivatsasinha@gmail.com</p></h2>
				</div>
<br/> <br/> <br/>
                          <h3> <strong>Kumari Jyotsna</strong></h3>
        
         <p><i class="fa fa-envelope fa-x"></i>simmikumari1997@gmail.com</p></h2>
				</div>

</div>
 


			</div>

		</div>
		<!-- /.container -->

	</div>

</section>
<footer height=50px>
<div style="float:right; font-size:20px">
Web Designer:Kumari Jyotsna
</div>
</footer>
<!-- /.banner -->
