<head>
<style>
.banner {
   color:white
}

</style>
</head>
<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div >
					<h2>Keep in Touch:</h2>
				</div>

            

       <div class=" col-xs-12 col-md-4 animated wow bounceInRight ">
       <h2><strong>Srivatsa Sinha</strong></h2>
        
         <p><i class="fa fa-envelope fa-x"></i>srivatsasinha@gmail.com</p>
       </div>



			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
