
<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">NIVRITTI</h2>
                    
                </div>
            </div>
            <div class="row text-center">
                <div >
                                        <p class="text-muted">Nivritti is a student run group of highly motivated undergraduate students from diverse
majors from mechanical engineering to physics of Birla institute of technology, Mesra. Its objective is to explore the untrodden avenues of robotics and machine learning, promote robotics and machine learning by conducting hands-on workshops on these topics. Our common perspective that <strong>"knowledge and experience are the two most important things to
attain the impossible"</strong>. This is what brings us together for the love of robotics and machine learning
through the creative and practical method of learning so as to contribute to the practical
approaches to the day to day applications.
              We participate in technical events at a national level in IIT Bombay(techfest), IIT
kharagpur(kshitij), but the prime motive here does not revolve around any particular
competition. Rather, the team prefers to continually evolve by finding exciting new opportunities
for challenge. The aim has and always will be the same- that of constant learning and real
practical experience. 
</p>
<div>
<a href="https://github.com/Nivritti-bitmesra"><i class="fa fa-github fa-3x" aria-hidden="true" ></i></a>
</div>
                
            </div>
        </div>
    </section>
