<style type="text/css">
    .flip-container {
        margin-left: 50px;
        margin-bottom:50px;
        perspective: 1000;
        display: inline-block;
    }
    .flip-container:hover .card {
        transform: rotateY(180deg);
    }
    .card, .front, .back {
        width: 300px;
        height: 300px;
    }
    .card {
        transition: 0.5s;
        transform-style: preserve-3d;
        position: relative;
    }
    .front, .back {
        backface-visibility: hidden;
        position: absolute;
    }
    .front {
        z-index: 2;
        transform: rotateY(0deg);
     
    }
    .back {
        z-index: 1; /* back side, placed above front */
        transform: rotateY(180deg);
        background:lightgrey;
        text-align:center;
       
    }
</style>
<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row ">
                {% for post in site.posts %}
              <div class="col-md-3 flip-container">
                <div class="img-responsive card">
                   <div class="front">
                       <img src="img/team/{{ post.img }}" alt="Lights" style="width:300px;height:300px" class="img-circle">
                       <div class="caption">
                 <center><h5>{{post.name}}  <br/>
                 {{ post.year }}</h5></center>
                 </div>
                 </div>
                <div class="back img-circle">
                 <br/><br/></br>
                 {{ post.intro }}
                 </div>
                  
                 </div>
             </div>

                {% endfor %}
            </div>
        
        </div>
    </section>

